

<%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
<div class=" bg-gray-200 min-h-screen flex flex-col font-sans">
  <div class="container max-w-sm mx-auto flex-1 flex flex-col items-center justify-center px-2 ">
    <div class="bg-white px-6 py-8 rounded shadow-xl text-black w-full">
        <%= render "devise/shared/error_messages", resource: resource %>
        <h2>Resend confirmation instructions</h2>
        <div class="field">
          <%= f.email_field :email, autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) , class: "block border border-grey-light w-full p-3 rounded mb-4" ,placeholder:"Email"%>
        </div>

        <div class="actions">
          <%= f.submit "Resend confirmation instructions",  class:"w-full text-center py-3 rounded bg-indigo-600 text-white hover:bg-indigo-700 focus:outline-none my-1"  %>
        </div>
          <%= render "devise/shared/links" %>
      </div>
  </div>
</div>
<% end %>


