<%= form_with(model: [:parent, student],html: { multipart: true }, local: true) do |form| %>
  <% if student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(student.errors.count, "error") %> prohibited this student from being saved:</h2>

      <ul>
      <% student.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  

  <div class="field">
    <%= form.label :first_name %>
    <%= form.text_field :first_name %>
  </div>

  <div class="field">
    <%= form.label :last_name %>
    <%= form.text_field :last_name %>
  </div>

  <div class="field">
    <%= form.label :age %>
    <%= form.number_field :age, min: 1, max:15 %>
  </div>

  <div class="field">
    <%= form.label :grade %>
    <%= form.select :grade, Student::GRADE %>
  </div>

  <div class="field">
    <%= form.label :gender %>
    <%= form.select :gender, Student.genders.map {|k, v| [k.titleize, k]} %>
  </div>

  <%= render 'shared/edit_picture', form: form, photo: @student.image %>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
