<p>
  <%= image_tag @student.image.avatar.url, style:"width: 150px; height: 150px;; display: inline-block " if @student.image.present? %>
</p>
<p>
  <strong>First name:</strong>
  <%= @student.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @student.last_name %>
</p>

<p>
  <strong>Age:</strong>
  <%= @student.age %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @student.gender&.titleize %>
</p>
<p>
  <strong>Grade:</strong>
  <%= @student.grade %>
</p>

<%= link_to 'Edit', edit_parent_student_path(@student) %> |
<%= link_to 'Back', parent_students_path %>
