<div class="">
<div class="inline-block h-full w-5/6 container  bg-white rounded-lg my-10 ml-24 p-4">
<%= render 'shared/show_picture', image: @student.image %>

  <p class="mb-2">
  <strong>Name:</strong>
  <%= [@student.first_name, @student.last_name].join(' ').titleize %>
</p>
  <p class="mb-2">
  <strong>Age:</strong>
  <%= @student.age %>
</p>

  <p class="mb-2">
  <strong>Gender:</strong>
  <%= @student.gender&.titleize %>
</p>
  <p class="mb-2">
  <strong>Grade:</strong>
  <%= @student.grade %>
</p>
<% if @student.parent_id == current_parent.id %>
  <%= link_to 'Edit', edit_parent_student_path(@student),  class:'text-sm bg-blue-500 hover:bg-blue-600 text-white p-2 px-2 mr-2 rounded focus:outline-none focus:shadow-outline'%> 
<% end %>  
<%= link_to 'Back', parent_students_path ,  class:'text-sm bg-yellow-500 hover:bg-yellow-600 text-white p-2 px-2 mr-2 rounded focus:outline-none focus:shadow-outline'%> 
</div>