<h1>Teacher Show</h1>
<p>
  <strong>First Name:</strong>
  <%= @teacher.first_name %>
</p>

<p>
  <strong>Last Name:</strong>
  <%= @teacher.last_name %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @teacher.gender %>
</p>

<p>
  <strong>Grade:</strong>
  <%= @teacher.grade %>
</p>
<div id="new-review">
  <%= link_to image_tag("Red_star.ico"), new_review_path(reviewable_id: @teacher.id, reviewable_type: @teacher.class.name),  remote: true  %> 
</div>
<div id='pod-reviews'>
  <%= render @teacher.reviews  %>
</div>