<%= form_with(model: pod, local: true) do |form| %>
<!-- component -->
<div class=" min-h-screen flex flex-col font-body">
  <div class="container max-w-sm mx-auto flex-1 flex flex-col items-center justify-center px-2 ">
    <div class="bg-white px-6 py-8 rounded shadow-md text-black w-full">
     <%= image_tag "logos/mlogo.png", class: "object-cover h-48 w-full" %>
        <% if pod.errors.any? %>
          <div id="error_explanation" class="text-red-700">
            <h2><%= pluralize(pod.errors.count, "error") %> prohibited this pod from being saved:</h2>
            <ul>
            <% pod.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>
        <div class="field">
          <%= form.text_field :pod_name,  class: "block border-2 focus:outline-none  focus:border-blue-500 w-full p-3 rounded mb-4" ,placeholder:"Pod Name" %>
        </div>
        <div class="field">
          <%= form.text_field :zipcode, class: "block border-2 focus:outline-none  focus:border-blue-500 w-full p-3 rounded mb-4" ,placeholder:"Zipcode" %>
        </div>
        <div class="field">
          <%= form.text_field :description, class: "block border-2 focus:outline-none  focus:border-blue-500 w-full p-3 rounded mb-4" ,placeholder:"Description" %>
        </div>
        <%= render 'shared/edit_picture', form: form, photo: @pod.image,class: "block border-2 focus:outline-none  focus:border-blue-500 w-full p-3 rounded mb-4" %>
        <div class="actions float-right">
          <%= link_to 'Back', pods_path, class:'text-sm bg-yellow-500 hover:bg-yellow-600 text-white p-3 px-3  rounded focus:outline-none focus:shadow-outline'%> 
          <%= form.submit   class:'text-sm bg-blue-500 hover:bg-blue-600 text-white p-2 px-2 mr-0 rounded focus:outline-none focus:shadow-outline' %>
        </div>
    </div>
  </div>
</div>
<% end %>