<div class="">
<div class="inline-block h-full w-5/6 container  bg-white rounded-lg m-24  p-8">

<%= render 'shared/show_picture', image: @pod.image ,class:'' %>


<p class="mb-2">
  <strong> Name:</strong>
  <%= @pod.pod_name %>
</p>

<p class="mb-2">
  <strong>Zipcode:</strong>
  <%= @pod.zipcode %>
</p>

<p class="mb-2">
  <strong>Description:</strong>
  <%= @pod.description %>
</p>
<% if @pod.teacher_id.present? %>
  <p class="mb-2">
    <strong>Teacher Name:</strong>
    <%= [@pod.teacher.first_name, @pod.teacher.last_name].join(' ').titleize %>
  </p>

  <p class="mb-2">
    <strong>Grade:</strong>
    <%= @pod.teacher.grade.reject(&:empty?).join(',') %>
  </p>
<% end %>
<!-- component -->

<div id="new-review" class="mb-2">
  <%= link_to image_tag("Red_star.ico"), new_review_path(reviewable_id: @pod.id, reviewable_type: @pod.class.name),  remote: true  %> 
</div>
<div id='pod-reviews' class="mb-2">
  <%= render @pod.reviews  %>
</div>
<%= render 'join', pod: @pod, parent: current_parent %>
<div class="mt-4">
<% if @pod.parent_id == current_parent.id %>
  <%= link_to 'Edit', edit_pod_path(@pod),  class:'text-sm bg-blue-500 hover:bg-blue-600 text-white p-2 px-2 mr-2 rounded focus:outline-none focus:shadow-outline'%> 
<% end %>  
<%= link_to 'Back', pods_path,  class:'text-sm bg-yellow-500 hover:bg-yellow-600 text-white p-2 px-2 mr-2 rounded focus:outline-none focus:shadow-outline'%> 

</div>
</div>
</div>