<%= render 'shared/show_picture', image: @pod.image %>

<p>
  <strong>Zipcode:</strong>
  <%= @pod.zipcode %>
</p>

<p>
  <strong> Name:</strong>
  <%= @pod.pod_name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @pod.description %>
</p>
<% if @pod.teacher_id.present? %>
  <p>
    <strong>Teacher Name:</strong>
    <%= [@pod.teacher.first_name, @pod.teacher.last_name].join(' ').titleize %>
  </p>
  <p>
    <strong>Gender:</strong>
    <%= @pod.teacher.gender %>
  </p>

  <p>
    <strong>Grade:</strong>
    <%= @pod.teacher.grade.reject(&:empty?).join(',') %>
  </p>
<% end %>
<!-- component -->
<%= render 'join', pod: @pod, parent: current_parent %>

<div id="new-review">
  <%= link_to image_tag("Red_star.ico"), new_review_path(reviewable_id: @pod.id, reviewable_type: @pod.class.name),  remote: true  %> 
</div>
<div id='pod-reviews'>
  <%= render @pod.reviews  %>
</div>
<% if @pod.parent_id == current_parent.id %>
  <%= link_to 'Edit', edit_pod_path(@pod) %> |
<% end %>  
<%= link_to 'Back', pods_path %>