<% if @parent.id == current_parent.id %>
  <p>
    <%= link_to 'Profile Edit', edit_parent_registration_path(current_parent) %> |
    <%= link_to 'New Student', new_parent_student_path(current_parent) %> |
    <%= link_to 'New Pod', new_pod_path(current_parent) %> 
  </p>
<% end %>
<%= render 'shared/show_picture', image: @parent.image %>
<%= render 'parents/profile' %>


<%= render 'students/student' %>
<%= render 'pods/pods', pods: @active_pods, title: 'Active Pods' %>

<%= render 'pods/pods', pods: @inactive_pods, title: 'Inactive Pods' %>