<p  class="">
    <%=link_to 'Profile Edit', edit_parent_registration_path(current_parent) %> |
    <%= link_to 'New Student', new_parent_student_path(current_parent) %> |
    <%= link_to 'New Pod', new_pod_path(current_parent) %> 
</p>

<%= render 'shared/show_picture', image: @parent.image %>
<%= render 'parents/profile' %>


<%= render 'students/student' %>
<h1>Active Pods</h1>
<%= render 'pods/pods', pods: @parent.pods.active %>
<h1>Inactive Pods</h1>

<%= render 'pods/pods', pods: @parent.pods.inactive %>