<p>
  <li class="nav-item">
    <%=link_to 'Profile Edit', edit_parent_registration_path(current_parent), class: 'nav-link' %> |
    <%= link_to 'New Student', new_parent_student_path(current_parent) , class: 'nav-link' %> |
    <%= link_to 'New Pod', new_pod_path(current_parent) , class: 'nav-link' %> 
  </li>
</p>

<%= render 'parents/profile' %>

<%= render 'students/student' %>


