<!DOCTYPE html>
<html>
  <head>
    <title>MicroSchoolSystem</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <!-- This refers to app/javascript/stylesheets/application.scss-->
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="w-5/6 container mx-auto rounded-lg">
    <%= render 'shared/navbar' %>
    <p class="notice text-red-700"><%= notice %></p>
    <p class="alert text-red-700"><%= alert %></p>
    <div class= 'text-gray-900 bg-gray-200 bx-10'>
      <%= yield %>
      <%= render 'shared/footer' %>
    </div>
  </body>
</html>
